DATABASE_URL="postgresql://postgres:aliraza@localhost:5432/team-flow?schema=public"


BETTER_AUTH_SECRET=xDk6svCb3eRjg3iFPPea4IaD5OdSJFI6
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000

NODEMAILER_USER=YOUR_EMAIL
NODEMAILER_APP_PASSWORD=YOUR_PASSWORD

GITHUB_CLIENT_ID=GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=GITHUB_CLIENT_SECRET

ARCJET_KEY=ARCJET_KEY
ARCJET_ENV=development

UPLOADTHING_TOKEN=UPLOADTHING_TOKEN
UPLOADTHING_SECRET_KEY=UPLOADTHING_SECRET_KEY

OPENROUTER_API_KEY=OPENROUTER_API_KEY
